<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/static/scripts/jquery-1.10.2.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap/css/bootstrap-theme.min.css}">
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/static/H-ui/lib/Hui-iconfont/1.0.8/iconfont.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/H-ui/lib/Hui-iconfont/1.0.8/iconfont.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/H-ui/static/h-ui/css/H-ui.min.css}" rel="stylesheet" type="text/css" />
    <script charset="utf-8" th:src="@{/static/js/common.js}"></script>
    <title>login</title>
</head>
<body>
<div style="width: 900px;margin: 150px auto auto auto;">
    <div class="jumbotron" style="background-color: #fff;text-align: center;">
        <h1>Hello, User!</h1>
        <p>welcome to showtan.top</p>
    </div>

    <div class="panel panel-default" style="float:none;margin: auto;width: 450px;">
        <div class="panel-body">
            <div class="col-lg-9" style="float:none;margin:auto;text-align: center;">
                <img id="userImage" style="width: 90px;" src="/emall/static/picture/default.png" class="img-circle">
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-9" style="float:none;margin: auto;">
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="Hui-iconfont Hui-iconfont-user"></i>
                </span>
                    <input type="text" id="userNickName" class="form-control" placeholder="Username/phone"
                           aria-describedby="basic-addon1">
                </div>
            </div>

        </div>
        <div class="panel-body">
            <div class="col-lg-9" style="float:none;margin: auto;">
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">
                    <i class="Hui-iconfont Hui-iconfont-suoding"></i>
                </span>
                    <input type="password" id="userPassword" class="form-control" placeholder="password"
                           aria-describedby="basic-addon2">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-5" style="float:right;">
                <button type="button" class="btn btn-success" onclick="signIn()">Sign In
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-5" style="float: right;margin-top: 10px;">
        <span>have no account?</span>
        <a href="/emall/portal/register">join us</a>
    </div>
</div>

<script th:inline="javascript">
    var nickName = $('#userNickName');
    var password = $('#userPassword');
    var defaultUserPicture = '/emall/static/picture/default.png';
    $(document).ready(function () {
        nickName.bind('blur', function () {
            loadUser();
        });
        nickName.bind('focus', function () {
            nickName.css({
                'border-color': '#ccc'
            });
        });
        password.bind('focus', function () {
            password.css({
                'border-color': '#ccc'
            });
        });
    })

    function signIn() {
        if(loadUser()){
            loginUser();
        }
    }

    function loadUser() {
        var result = false;
        if (validateInput(nickName.val())) {
            $.ajax({
                async : false,
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({
                    nickName: nickName.val(),
                    mobile: nickName.val()
                }),
                url: '/emall/user/search',
                success: function (data) {
                    if (data.user == null) {
                        nickName.css({
                            'border-color': 'red'
                        });
                        $('#userImage').attr('src', defaultUserPicture);
                        result = false;
                    }
                    else {
                        if(data.user.picture != null){
                            $('#userImage').attr('src', data.user.picture);
                        }
                        else{
                            $('#userImage').attr('src', defaultUserPicture);
                        }
                        result = true;
                    }
                }
            })
        }
        else{
            result = false;
        }
        return result;
    }

    function loginUser() {
        if (validateInput(nickName.val())) {
            $.ajax({
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({
                    nickName: nickName.val(),
                    mobile: nickName.val(),
                    password: password.val()
                }),
                url: '/emall/user/login',
                success: function (data) {
                    if (data.code == '1000') {
                        alert('登录成功');
                        window.location.href = '/emall/portal/product/list';
                    }
                    else {
                        if (data.message == '000') {
                            password.css({
                                'border-color': 'red'
                            });
                        }
                    }
                }
            })
        }
    }
</script>
</body>
</html>
