<div th:replace="layouts/search"></div>

<div class="items"></div>

<div th:replace="layouts/pager"></div>

<script th:inline="javascript">
    var buys = /*[[${buys}]]*/{};
    var pager = /*[[${pager}]]*/{};

    $(document).ready(function () {
        renderBuys(buys);
        renderPager(pager);
        $('#buttonPrePage').bind('click',function () {
            prePage(loadBuys);
        });
        $('#buttonNextPage').bind('click',function () {
            nextPage(loadBuys);
        });
    })

    function renderBuys(buys) {
        var items = $('.items');
        items.empty();
        $.each(buys, function (i, buy) {
            var image = "";
            var product = buy.product;
            $.each(product.pictures, function (j, picture) {
                if (picture.main && image == "") {
                    image = picture.picture;
                }
            });
            var item = $('<div class="media"></div>');

            var picture = $('<div class="media-left">\n' +
                '        <a href="#">\n' +
                '            <img style="width: 80px;height: 80px;" class="media-object" src="' + image + '" alt="' + product.name + '">\n' +
                '        </a>\n' +
                '    </div>');

            var info = $('<div class="media-body">\n' +
                '        <a class="media-heading" href="/emall/product/detail?id=' + product.id + '">' + product.name + '</a>\n' +
                '        <p>￥' + product.price + '</p>\n' +
                '        <p>' + product.introduction + '</p>\n' +
                '        <p>' + buy.status + '</p>\n' +
                '    </div>');

            if (buy.status == 'SWAPING') {
                info.append('<button type="button" class="btn btn-danger" onclick="completeBuy(' + buy.id + ')">确认收货</button>' +
                    '<button type="button" class="btn btn-danger" onclick="cancelBuy(' + buy.id + ')">取消购买</button>');
            } else {
                info.append('<button type="button" class="btn btn-danger" onclick="deleteBuy(' + buy.id + ')">删除</button>');
            }

            if (buy.status == 'COMPLETED' && !buy.comment) {
                info.append('<button type="button" class="btn btn-danger" onclick="goToComment('+ buy.productId +')">评论</button>');
            }

            item.append(picture);
            item.append(info);
            items.append(item);
        });
    }

    function loadBuys() {
        $.ajax({
            type:'post',
            url:'/emall/product/buy/search',
            data:{
                searchInfo:JSON.stringify({

                }),
                page:$('#nowPage').val()
            },
            success:function (data) {
                renderBuys(data.buys);
                renderPager(data.pager);
            }
        })
    }
    
    function goToComment(productId) {
        window.location.href = "/emall/product/comment?productId=" + productId;
    }

    function cancelBuy(id) {
        $.ajax({
            type: 'post',
            url: '/emall/product/buy/cancel',
            data: {
                id: id
            },
            success: function (data) {
                if (data.code == '1000') {
                    alert('取消成功');
                    loadBuys();
                }
            }
        })
    }

    function completeBuy(id) {
        $.ajax({
            type: 'post',
            url: '/emall/product/buy/complete',
            data: {
                id: id
            },
            success: function (data) {
                if (data.code == '1000') {
                    alert('收货成功');
                    loadBuys();
                }
            }
        })
    }

    function deleteBuy(id) {
        $.ajax({
            type: 'post',
            url: '/emall/product/buy/delete',
            data: {
                id: id
            },
            success: function (data) {
                if (data.code == '1000') {
                    alert('删除成功');
                    loadBuys();
                }
            }
        })
    }
</script>