<div style="width: 900px;margin: auto;">
    <div th:replace="layouts/search"></div>

    <div class="items"></div>

    <div th:replace="layouts/pager"></div>
</div>

<script th:inline="javascript">
    var products = /*[[${products}]]*/{};
    var pager = /*[[${pager}]]*/{};

    $(document).ready(function () {
        renderReleases(products);
        renderPager(pager);
        $('#buttonPrePage').bind('click',function () {
            prePage(loadReleases);
        });
        $('#buttonNextPage').bind('click',function () {
            nextPage(loadReleases);
        });
    })

    function renderReleases(products) {
        var items = $('.items');
        items.empty();
        $.each(products, function (i, product) {
            var image = "";
            $.each(product.pictures, function (j, picture) {
                if (picture.main && image == "") {
                    image = picture.picture;
                }
            });
            var item = $('<div class="media"></div>');

            var picture = $('<div class="media-left">\n' +
                '        <a href="/emall/product/detail?id=' + product.id + '">\n' +
                '            <img style="width: 80px;height: 80px;" class="media-object" src="' + image + '" alt="' + product.name + '">\n' +
                '        </a>\n' +
                '    </div>');

            var info = $('<div class="media-body">\n' +
                '        <a class="media-heading" href="/emall/product/detail?id=' + product.id + '">' + product.name + '</a>\n' +
                '        <p>￥' + product.price + '</p>\n' +
                '        <p>' + formatLongSentence(product.introduction,50) + '</p>\n' +
                '        <p>' + product.status + '</p>\n' +
                '    </div>');

            if(product.status == 'RELEASING'){
                info.append('<button type="button" class="btn btn-danger" onclick="modifyRelease('+ product.id +')">修改</button>' +
                    '<button type="button" class="btn btn-danger" onclick="cancelRelease('+ product.id +')">删除</button>')
            }

            item.append(picture);
            item.append(info);
            items.append(item);
        });
    }

    function loadReleases() {
        $.ajax({
            type:'post',
            url:'/emall/product/search',
            data:{
                searchInfo:JSON.stringify({
                    //TODO
                    creatorId:1
                }),
                page:$('#nowPage').val()
            },
            success:function (data) {
                renderReleases(data.products);
                renderPager(data.pager);
            }
        })
    }
    
    function cancelRelease(id) {
        $.ajax({
            type: 'post',
            url: '/emall/product/delete',
            contentType: 'application/json',
            data: JSON.stringify({
                id: id
            }),
            success: function (data) {
                if (data.code == '1000') {
                    alert('删除成功');
                    loadReleases();
                }
            }
        })
    }

    function modifyRelease(id) {
        window.location.href = '/emall/product/release?id='+id;
    }
</script>