<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.showtan.dao.LogMapper">
    <resultMap id="logMap" type="Log">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="productId" property="productId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="creatorId" property="creatorId" jdbcType="INTEGER"/>
        <result column="creatorName" property="creatorName" jdbcType="VARCHAR"/>
        <result column="createdTime" property="createdTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="search" resultMap="logMap">
        SELECT * FROM log
        WHERE creatorId = #{criteria.creatorId}
        ORDER BY createdTime DESC
        <if test="skip &gt;= 0 and take &gt;= 0">
            LIMIT #{skip},#{take}
        </if>
    </select>

    <select id="countAll" resultType="Long">
        SELECT COUNT(*) FROM log
        WHERE creatorId = #{creatorId}
    </select>

    <insert id="save">
        INSERT INTO log
        (productId,type,creatorId,creatorName)
        VALUES (#{productId},#{type},#{creatorId},#{creatorName})
    </insert>
</mapper>